{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% translate "選擇班級" %}</h1>
<div class="cards">
  {% for class in classrooms %}
    <article class="panel"><h2>{{ class.name }}</h2><div class="actions"><a class="button" href="{% url 'attendance' %}?classroom={{ class.pk }}">{% translate "開始點名" %}</a><a href="{% url 'students' %}?classroom={{ class.pk }}">{% translate "學生" %}</a></div></article>
  {% empty %}<div class="panel"><p>{% translate "尚未建立班級。" %}</p><a class="button" href="{% url 'classes' %}">{% translate "建立第一個班級" %}</a></div>{% endfor %}
</div>
{% endblock %}
